.screen {
  display: none;
  height: 100vh;
  width: 100vw;
}

.screen.active {
  display: flex;
}

/* стартовый экран */
#start-screen {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

/* игровой экран */
#game-screen {
  justify-content: stretch;
  align-items: stretch;
}
