.screen {
  display: none;
  height: 100vh;
  width: 100vw;
}

.screen.active {
  display: flex;
}

/* стартовый экран */
#start-screen {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

/* игровой экран */
#game-screen {
  justify-content: stretch;
  align-items: stretch;
}

.card {
  width: 50px;
  height: 72px;
  background: white;
  border-radius: 8px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
  user-select: none;
}

.player .hand {
  margin-bottom: 8px;
}

.card.selected {
  transform: translateY(-10px);
}

body {
  background: #0b6623;
}

#game-screen {
  background: #0b6623;
}

#start-screen {
  background: #0b6623;
}
